@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

*, :after, :before {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:root {
  --backgroundColor: #fff;
  --backgroundSecondary: #eee;
  --textPrimary: #2e2e2e;
  --textSecondary: #777;
  --borderColor: #ccc;
  /* colors */
  --brand: #1c96f0;
  --classting: #00c896;
  --toss: #3182f6;
  --js: #f0db4f;
  --ts: #3178c6;
  --rs: #dea584;
  --java: #b07219;
  --kt: #a97bff;
  --objc: #438eff;
  --swift: #f05138;
  --unknown: #555;

  @media (prefers-color-scheme: dark) {
    --backgroundColor: #222;
    --backgroundSecondary: #3f3f3f;
    --textPrimary: #ddd;
    --textSecondary: #999;
    --borderColor: #555;
    --unknown: #777;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  color: var(--textPrimary);
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: var(--blue);

  &:focus { border-radius: .25rem; }
}

i { font-weight: 200; }

code {
  display: block;
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--backgroundSecondary);
  font-family: ui-monospace, Consolas, monospace;
  overflow: auto;
}

pre {
  display: block;
  padding: .5rem;
  border: 1px solid var(--borderColor);
  border-radius: .5rem;
  color: var(--textSecondary);
  overflow: auto;
}

span {
  padding: .1rem .2rem;
  border-radius: .2rem;
  background-color: var(--backgroundSecondary);
}

ul {
  padding-left: 1rem;
}

button {
  color: var(--textPrimary);
  padding: .5rem 1rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--backgroundSecondary);
  font-size: 1rem;
  overflow: auto;
  cursor: pointer;
}

.text-brand { color: var(--brand); }
.text-classting { color: var(--classting); }
.text-toss { color: var(--toss); }
.text-js { color: var(--js); }
.text-ts { color: var(--ts); }
.text-rs { color: var(--rs); }
.text-java { color: var(--java); }
.text-kt { color: var(--kt); }
.text-objc { color: var(--objc); }
.text-swift { color: var(--swift); }
.text-unknown { color: var(--unknown); }

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--brand);
}
